@page "/guardians"

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th><button class="btn btn-primary" @onclick="NavigateToCreate">Register New</button></th>
        </tr>
        <tr>
            <th>Guardian Name</th>
            <th>Address</th>
            <th>Contact Number</th>
            <th>Workplace</th>
        </tr>
    </thead>
    <tbody>
        @if (Guardians.Any())
        {
            @foreach (var Guardian in Guardians)
            {
                <tr>
                    <td>@Guardian.FirstName @Guardian.LastName</td>
                    <td>@Guardian.Address.Title</td>
                    <td>@Guardian.PhoneNumber</td>
                    <td>@Guardian.Workplace.Name</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5"><h3>No Parents/Guardians are currently registered</h3></td>
            </tr>
        }

    </tbody>
</table>