@page "/children-list"

<h3>Children's List</h3>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Birthday</th>
            <th>Diet</th>
            <th>Allergies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var child in children)
        {
            <tr>
                <td>@child.ChildId</td>
                <td>@child.FirstName</td>
                <td>@child.MidName</td>
                <td>@child.LastName</td>
                <td>@child.Birthday</td>
                <td>@child.DietRestrictions</td>
                <td>@child.Allergies</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Child> children = new List<Child>();
}
